/******************* work *******************/
.work {
    background-color: $colorwhite;
    color: $texcolor;

    &__ul {
        list-style: none;
        margin: 0px;
        padding: 0px;

        @media screen and (min-width: $tablet) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
          }
        
        @media screen and (min-width: $desktop) {
            flex-wrap: nowrap;
            /*column-gap: 30px;*/
        }
    }

    &__images {
        padding-top: 118px;
    }

    &_h4 {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.17;
        text-transform: uppercase;
        padding-bottom: 10px;
    }
    
    &_p {
        color: $colorp;
        text-align: left;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.71;
        margin-bottom: 30px;     

        @media screen and (min-width: $desktop){   
          margin-bottom: 0px;       
        }
    }
  
    @media screen and (max-width: 1199px) {
        padding-top: 60px;
    }

    @media screen and (max-width: 767px){
        .work_h4 {
            text-align: center;
        }
    }

    .item {
        
        @media screen and (min-width: $tablet) and (max-width: 1199px) {
          width: calc((100% - 2 * 30px) / 2);
          margin-right: 30px;
          margin-bottom: 30px;
          &:nth-child(2n) {
            margin-right: 0;
          }
          &:nth-last-child(-n + 2) {
            margin-bottom: 0;
          }
        }
        @media screen and (min-width: $desktop) {
          width: calc((100% - 3 * 30px) / 4);
          margin-right: 30px;
      
          &:nth-child(4n) {
            margin-right: 0;
          }
        }
    }
}
 
.work__li {
    position: relative;
    margin: 0 auto;
}

.description {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 27px 0px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background: $colorbac;
    color: $colorwhite;
    text-align: center;
}

/*SVG*/

.icon-work {
  height: 120px;
  padding: 25px 0px;
  margin-bottom: 30px;
  background-color: $tem;
  border-radius: 4px;
  width: 100%;
}

.work__images {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}
