$texcolor: #212121;
$fontRoboto: 'Roboto', sans-serif;
$fontRaleway: 'Raleway', sans-serif;
$background: #2196F3;
$colorwhite: #fff;
$colorbutton: #F5F4FA;
$backgroundbutton: #FFFFFF99;
$backgroundfooter: #2F303A;
$color: #F5F5F5;
$colorp: #757575;
$colorfigcaption: #EEEEEE;
$colorborder-bottom: #ECECEC;
$colorboxshadow: rgba(0, 0, 0, 0.15);
$colorteam: rgba(0, 0, 0, 0.12);
$colorteam2: rgba(0, 0, 0, 0.14);
$colorteam3: rgba(0, 0, 0, 0.2);
$tem: #F5F4FA;
$networks: #AFB1B8;
$colortext: rgba(33, 150, 243, 0.9);
$colorbac: rgba(47, 48, 58, 0.8);